<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @item[:redirect_to] %>">
    <meta http-equiv="refresh" content="0; url=<%= @item[:redirect_to] %>">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/stylesheet.*'].path %>">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/footer.*'].path %>">
    <!-- Docsearch https://community.algolia.com/docsearch/ - via CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
    <!-- end of docsearch -->
    <script async src="<%= @items['/assets/javascripts/docs.*'].path %>"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <%= render '/header.*' %>
    <div class=wrapper>
      <div id="doc-nav" class="doc-nav"></div>
      <div class="main class">
        <h2>Redirecting...</h2>
          <a href="<%= @item[:redirect_to] %>">Click here if you are not redirected.</a>
          <script>location='<%= @item[:redirect_to] %>'</script>
      </div>
    </div>
    <%= render '/footer.*' %>
    <%= render '/docsearch.*' %>
  </body>
</html>
